@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    color: #ec4899;
    text-decoration: underline;
    font-size: 20px;
    transition: all 0.1s;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 30px;
    margin-top: 15px;
  }

  .nav-bar:hover {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: all 0.5s;
  }

  .nav-active {
    background-color: #ec4899;
    color: black;
    border-radius: 5px;
  }

  .sideBar-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 30px;
  }

  .sideBar-nav:hover {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #ec4899;
    color: white;
    transition: all 0.5s;
  }

  .button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #ec4899;
    color: white;
    transition: all 0.5s;
  }

  .button:hover {
    background-color: #1f2937;
    border: none;
  }

  .hero {
    height: calc(100vh - 200px);
  }

  .login-screen {
    height: calc(100vh - 50px);
  }
}
